<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498404513306-1gdr45qnuu7a8q3v83amevi2u7ohberm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498404513306-1gdr45qnuu7a8q3v83amevi2u7ohberm</string>
	<key>API_KEY</key>
	<string>AIzaSyCF04Pa8uUtm-dnKsAYx2wKqIREm91QnAA</string>
	<key>GCM_SENDER_ID</key>
	<string>498404513306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maiexpenses.app</string>
	<key>PROJECT_ID</key>
	<string>personal-app-a61a2</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-app-a61a2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498404513306:ios:e1ba7f51f8472fd03263a3</string>
</dict>
</plist>